*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav.menu{
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
}

.menu ul{
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0px 30px;
    margin: 0 auto;
}

.menu ul li{
    float: left;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: all 300ms ease;
    margin: 0 auto;
}

.menu ul li a:hover{
    background: #1c1c1c
}

div.cat-list{
    width: 60%;
    border: 2px;
    margin: 0 auto;
    height: 1000px;
    display: block;
    background-color:antiquewhite;
    padding: 30px;
}

h1.title-container{
    float: left;
    font-size: 25px;
    width: 300px;
    height: 30px;
    margin-top: 90px;
}

button.new-cat{
    font-size: 15px;
    width: 200px;
    height: 25px;
    margin-top: 90px;
    float: right;
}
.button-chat{
    padding: 15px;
    height: 100px;
}
  
#btn{
    height: 80px;
    width: 80px;
    float: right;
    color: rgb(74, 141, 228);
    background-color: white;
    border: none;
    font-size: 80px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
  }

.gif-page{
    width: 60%;
    height: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.gif-container{
    height: 500px;
    width: 50%;
    padding: 30px;
}

.gif-content{
    width: 100%;
    height: 500px;
    background-image: url(https://cataas.com/cat/gif);
    background-attachment: fixed;
    background-size: 460px 60%;
}

.display{
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}

.list-content{
    margin-top: 160px;
    background-color: blue;
    height: 770px;
}



